{% extends '::base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-xs-8">
            <div class="jumbotron">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aut dolores expedita itaque, labore magni, necessitatibus, nulla obcaecati officia omnis vel velit? At deserunt dolores nihil, quasi quos velit voluptate?
            </div>
        </div>
        <div class="col-xs-4">
            <header class="page-header">
                <h4 class="panel-title">Sign up</h4>
            </header>
            <form action="">
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Full name"/>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="E-mail"/>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Password"/>
                </div>
                <a class="btn btn-block btn-success" href="">Sign up</a>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4">
            <header class="page-header">1. Lorem Ipsum</header>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aperiam, corporis doloremque dolores esse eveniet fuga, hic iure laboriosam magni, maiores nemo perspiciatis quisquam rem sed sequi soluta vel voluptas?</p>
        </div>
        <div class="col-xs-4">
            <header class="page-header">1. Lorem Ipsum</header>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aperiam, corporis doloremque dolores esse eveniet fuga, hic iure laboriosam magni, maiores nemo perspiciatis quisquam rem sed sequi soluta vel voluptas?</p>
        </div>
        <div class="col-xs-4">
            <header class="page-header">1. Lorem Ipsum</header>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aperiam, corporis doloremque dolores esse eveniet fuga, hic iure laboriosam magni, maiores nemo perspiciatis quisquam rem sed sequi soluta vel voluptas?</p>
        </div>
    </div>

{% endblock %}